@import "../../styles/variables";

.sections-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;

  .sections-container {
    @media screen and (min-width: $sm) {
      margin-top: 75px;
    }
  }

  .section {
    margin: 20px;

    @media screen and (min-width: $sm) {
      margin: 20px;
    }
  }
}
