@import "../../styles/variables";

.sections-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;

  .sections-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $sm) {
      margin-top: 75px;
    }

    @media screen and (min-width: $md) {
      margin-top: 100px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: $lg) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .section {
    margin: 20px;

    @media screen and (min-width: $sm) {
      margin: 20px;
    }
  }
}
