.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 20px;

  .navbar-title {
    font-style: italic;
    font-size: 2rem;
    display: flex;

    .navbar-back-arrow {
      margin-right: 20px;
      cursor: pointer;
    }
    .navbar-back-arrow-off {
      display: none;
    }
  }

  .navlinks {
    display: flex;

    list-style: none;

    .navbar-link:visited,
    :active,
    :link {
      color: #000;
    }
    .navlinks-item {
      margin: 0 25px;
      font-size: 1.5rem;
    }
  }
}
