.wrapper {
  display: flex;
  .gallery-container {
    max-width: 60%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    .img {
      max-width: 20%;
      border: 1px solid white;
      flex-grow: 1;
    }
  }
}
