@import "../../styles/variables";

.wrapper {
  display: flex;
  padding: 55px;
  align-items: flex-start;
  margin: 0px 55px;

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 50%;
    overflow: hidden;

    .img {
      max-width: 23%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .no-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85%;
    margin: 0 auto;
    gap: 5px;

    .img {
      max-width: 350px;
      object-fit: cover;
      cursor: pointer;
    }
  }
  .text-container {
    max-width: 50%;
  }
}

.uneven {
  max-width: 25%;
  object-fit: cover;
  cursor: pointer;
}
