@import "../../styles/variables";

.footer-wrapper {
  position: relative;
  height: 10vh;
  .footer {
    width: 100%;

    position: absolute;
    bottom: 0;
    font-family: "Raleway";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    text-align: center;

    @media screen and (min-width: $sm) {
      font-size: 0.65rem;
      justify-content: center;
      text-align: center;
    }

    @media screen and (min-width: $md) {
      font-size: 1rem;
      justify-content: center;
      text-align: center;
      height: 5vh;
    }
    @media screen and (min-width: $lg) {
      font-size: 1rem;
      justify-content: center;
      text-align: center;
      height: 5vh;
    }

    .link:visited,
    :active,
    :link {
      text-decoration: none;
      color: #000;
    }
  }
}
