@import "../../styles/variables";

.footer {
  font-family: "Raleway";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(236, 236, 236, 0.15);
  padding: 5px;
  text-align: center;

  @media screen and (max-width: $sm) {
    font-size: 0.75rem;
    justify-content: center;
  }

  .link:visited,
  :active,
  :link {
    text-decoration: none;
    color: #000;
  }
}
