.footer {
  font-family: "Raleway";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 30px;

  .link:visited,
  :active,
  :link {
    text-decoration: none;
    color: #000;
  }
}
